@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@{
    ViewData["Title"] = "Edit User";
}

@model CafeManagement.Models.ViewModel.AddUserVM

@if (Model is null)
{
    <div class="alert alert-danger" role="alert">
        Category not found
    </div>
}
else
{
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-primary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Create Category</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <form method="post" enctype="multipart/form-data">
                <div>
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" readonly />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateOfBirth" class="control-label"></label>
                        <input type="date" asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="mb-3 row p-1">
                        <label for="">Gender</label>
                        <select type="text" asp-items="@Model.Genders" class="form-select" asp-for="Gender">
                            <option disabled selected>--Select Gender--</option>
                        </select>
                    </div>
                    <div class="mb-3 row p-1">
                        <label for="">Cafe</label>
                        <select type="text" asp-items="@Model.CafeList" class="form-select" asp-for="@Model.CafeId">
                            <option disabled selected>--Select Cafe--</option>
                        </select>
                    </div>
                    <div class="mb-3 row p-1">
                        <label for="">Role</label>
                        <select type="text" asp-items="@Model.Roles" class="form-select" asp-for="Role">
                            <option disabled selected>--Select Role--</option>
                        </select>
                    </div>
                </div>



                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Edit</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-action="List" class="btn btn-secondary border form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>

}

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
